body {
  text-align: center;
  transition: background-color 0.5s ease;
}

h1 {
  font-weight: bolder;
}

.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
}

.settings-heading {
  font-weight: bold;
}

.run-display {
  font-size: large;
  font-weight: bolder;
}

.button {
  font-size: x-large;
  font-weight: bolder;
}

.timer-display {
  font-size: xxx-large;
  font-weight: bolder;
  color: white;
}
